@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;500&display=swap');

body {
  width: 100%;
  height: 100%;
  text-align: center;background: rgb(140,119,254);
  background: linear-gradient(101deg, rgb(207, 138, 145) 0%, rgb(204, 133, 212) 100%);
  background-repeat: no-repeat;
  font-family: 'Jost', sans-serif;
}